@import './variable';
@mixin border-style{
  border: 1px solid lightgray;
  box-shadow: 3px 3px 3px lightgray,-2px -3px 3px lightgray;
  border-radius: 10px;
}
@mixin  button-style {
  border: 1px solid gray;
  box-shadow: 3px 3px 3px lightgray;
  border-radius: 10px;
  background-color: $second-color;
  width: 100%;
  color: $main-color;
  padding: 10px 0px;
  
  outline: none;
  cursor: pointer;
  transition: all ease-in 0.3s;

}
@mixin error-message {
  color: red;
  font-size: x-small;
  
}